@media screen and (min-width: 1200px) {
  .maxWidthLgScreen {
    max-width: 70vw;
  }
}

.overStyleProfileSuggestName:hover {
  color: lightskyblue;
  text-decoration: underline;
  cursor: pointer;
}

.overMostrTutto:hover {
  background-color: lightgray;
}
